<!doctype html>
<title>USD exchange rates</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>USD exchange rates</h1>
  <div class=metanav>

    <h4>
      Please input the abbreviation of the currency you would like to exchange
      (e.g. CNY,EUR,JPY)
    </h4>

    <form id='info' method='post' action='' >
      <p>
    Currency1: USD
      </p>
      <p>
    Currency2: <input type='text' name='currency2' />
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>